[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.6.0"
django = "==4.1.7"
django-cors-headers = "==3.13.0"
django-filter = "==22.1"
djangorestframework = "==3.14.0"
djangorestframework-gis = "==1.0"
psycopg2 = "==2.9.5"
pytz = "==2022.7.1"
sqlparse = "==0.4.3"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
